###> Information about website ###
TITLE='My new site'
ADMIN_USER=admin_user
ADMIN_PASSWORD=admin1234
ADMIN_EMAIL=admin@email.com
WP_HOME=http://www.yourwebsite.com
WP_SITEURL=http://www.yourwebsite.com
###< Information about website ###

###> Database ###
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=your_database_host
DB_PORT=3308
DB_CHARSET=utf8mb4
DB_COLLATE=utf8mb4_general_ci
DB_PREFIX=wp_
###< Database ###

###> Debug Mode ###
WP_DEBUG=true
WP_DEBUG_DISPLAY=true
WP_DEBUG_LOG=true
SCRIPT_DEBUG=true
WP_DISABLE_FATAL_ERROR_HANDLER=true
IMPORT_DEBUG=true
###< Debug Mode ###

###> Cache ###
WP_CACHE=false
CONCATENATE_SCRIPTS=false
COMPRESS_CSS=false
COMPRESS_SCRIPTS=false
ENFORCE_GZIP=false
###< Cache ###

###> Performance & Security ###
AUTOMATIC_UPDATER_DISABLED=true
DISALLOW_FILE_EDIT=true
WP_POST_REVISIONS=false
EMPTY_TRASH_DAYS=7
DISABLE_WP_CRON=true
WP_MEMORY_LIMIT=128M
WP_MAX_MEMORY_LIMIT=256M
IMAGE_EDIT_OVERWRITE=true
###< Performance & Security ###

###> Maintenance ###
WP_ALLOW_REPAIR=false
###< Maintenance ###

###> Others ###
DISABLE_NAG_NOTICES=false
###< Others ###
