###> Information about website ###
TITLE='My new site'
ADMIN_USER=admin_user
ADMIN_PASSWORD=admin1234
ADMIN_EMAIL=admin@email.com
WP_HOME=http://www.yourwebsite.com
WP_SITEURL=http://www.yourwebsite.com
###< Information about website ###

###> Database ###
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=your_database_host
DB_PORT=3308
DB_CHARSET=utf8mb4
DB_COLLATE=utf8mb4_general_ci
DB_PREFIX=wp_
###< Database ###

###> Debug Mode ###
PHP_ERROR_REPORTING=-1
PHP_DISPLAY_ERRORS=1
WP_DEBUG=true
WP_DEBUG_DISPLAY=true
WP_DEBUG_LOG=true
SCRIPT_DEBUG=true
WP_DISABLE_FATAL_ERROR_HANDLER=true
IMPORT_DEBUG=true
###< Debug Mode ###

###> Cache ###
WP_CACHE=false
CONCATENATE_SCRIPTS=false
COMPRESS_CSS=false
COMPRESS_SCRIPTS=false
ENFORCE_GZIP=false
###< Cache ###

###> Performance & Security ###
AUTOMATIC_UPDATER_DISABLED=true
DISALLOW_FILE_EDIT=true
WP_POST_REVISIONS=false
EMPTY_TRASH_DAYS=7
DISABLE_WP_CRON=true
WP_MEMORY_LIMIT=128M
WP_MAX_MEMORY_LIMIT=256M
IMAGE_EDIT_OVERWRITE=true
###< Performance & Security ###

###> Maintenance ###
WP_ALLOW_REPAIR=false
###< Maintenance ###

###> General Settings ###
BLOG_DESCRIPTION=''
START_OF_WEEK=1
DEFAULT_ROLE='subscriber'
WPLANG='es_ES'
TIMEZONE_STRING='Europe/Madrid'
DATE_FORMAT='d/m/Y'
TIME_FORMAT='H:i'
###< General Settings ###

###> Reading Settings ###
SHOW_ON_FRONT='page'
POSTS_PER_PAGE=10
###< Reading Settings ###

###> Discussion Settings ###
DEFAULT_PINGBACK_FLAG=0
DEFAULT_PING_STATUS=''
DEFAULT_COMMENT_STATUS='open'
REQUIRE_NAME_EMAIL=1
COMMENT_REGISTRATION=0
CLOSE_COMMENTS_FOR_OLD_POSTS=0
SHOW_COMMENTS_COOKIES_OPT_IN=0
THREAD_COMMENTS=1
THREAD_COMMENTS_DEPTH=2
PAGE_COMMENTS=0
COMMENTS_NOTIFY=1
MODERATION_NOTIFY=1
COMMENT_MODERATION=1
COMMENT_PREVIOUSLY_APPROVED=0
SHOW_AVATARS=1
###< Discussion Settings ###

###> Media Settings ###
THUMBNAIL_SIZE_W=0
THUMBNAIL_SIZE_H=0
MEDIUM_SIZE_W=0
MEDIUM_SIZE_H=0
LARGE_SIZE_W=0
LARGE_SIZE_H=0
THUMBNAIL_CROP=0
UPLOADS_USE_YEARMONTH_FOLDERS=0
###< Media Settings ###

###> Permalinks Settings ###
PERMALINK_STRUCTURE=/%postname%/
###< Permalinks Settings ###

###> Theme ###
COMPOSER_VENDOR_NAME=vendor-name
THEME_NAME='My Custom Theme'
THEME_DESCRIPTION='Custom WordPress Theme'
THEME_URI='https:\/\/github.com\/juanmacivico87\/wptheme-sample'
THEME_AUTHOR='Juan Manuel Civico Cabrera'
THEME_AUTHOR_URI='https:\/\/www.juanmacivico87.com'
THEME_SLUG=my-custom-theme
THEME_CONFIG_NAMESPACE=MyConfig
THEME_SOURCE_NAMESPACE=MySource
THEME_VARS_PREFIX=my_custom_theme_
THEME_CONSTANTS_PREFIX=MY_CUSTOM_THEME_
###< Theme ###

###> Others ###
DISABLE_NAG_NOTICES=false
ACF_PRO_KEY=false
###< Others ###
